.section-movie {
    display: grid;
    grid-template-columns: repeat(auto-fit,140px);
    gap: 2rem;
    justify-content: center
}

.container-movie {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1.5rem;
    
}

