.section-winner-search {
  display: flex;
  justify-content: center;
  margin:  auto;
  padding: 5px;
  width: min(720px, 92%);
}

section {
  background-color: #1a1a1a;
}

input {
  width: 500px;
  margin-right: 15px;
}

