.container-movie {
    aspect-ratio: 2/3;
    overflow: hidden;
    position: relative;
}

img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.border:hover
{
        box-shadow: inset 0 0 0 25px black;
}