.home {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* importante */
  justify-content: center;
}


app-search {
  display: block;
  width: min(650px, 90%);
  margin: 2rem auto 0;
}

.divider {
  width: 100%;
  height: 1px;
  background: #fff;
  margin: auto;
}
