.banner {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  align-items: center;
  height: 7vh;
  background-color: #1a1a1a;
}

.banner-nav {
  display: flex;
  margin: 50px;
  align-items: center;
  gap: 20px;
}

.titulo-banner {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 20px;
}

input {
  --p-inputtext-background: #414040;
  --p-inputtext-focus-border-color: #1E1E1E;
  --p-inputtext-border-color: transparent;
  --p-inputtext-color: white;
  --p-inputtext-hover-border-color: transparent
}

