.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.titulo-banner {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 45px;
}
