<div class="section">
  <div class="section-container">
    <p-tag value="Terror" [rounded]="true"></p-tag>
    <div class="section-conteud">
      <div class="section-text">
        <h1>Cinema de Terror</h1>
        <p>
          Nesta seleção, reunimos filmes que exploram o horror em suas múltiplas formas: do
          psicológico ao sobrenatural, do intimista ao visceral. Obras que constroem atmosfera com
          precisão, que trabalham o tempo, o silêncio e a imagem como ferramentas narrativas. Um
          recorte que atravessa diferentes épocas e países, revelando como o medo pode ser
          profundamente humano e artisticamente sofisticado.
        </p>
        <div class="section-button">
            <p-button>Visualizar Título</p-button>
            <p-button severity="secondary">Visualizar Coleção</p-button>
        </div>
      </div>
      <div class="section-image">
        <img src="https://image.tmdb.org/t/p/w780/i1yf91svRHX45l9BXL8rVFzLoPH.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
